@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}
h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}
h2, h3, h4, h5, h6 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

a {
    color:#1132f4 !important;
}

.sidebar-link {
    color:#0b0f26 !important;
}